/* * {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* -----------`------------------ */
/* p{
 color: #050505;
}  */
/* body{
    background: white;
} */
/* .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    font-size: 20px;
    text-decoration: none;
    color:rgb(60, 255, 1);
}

.nav-list li a:hover {
    color: rgb(202, 101, 19);
}

.rightnav {
    width: 30%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgb(202, 101, 19);
    border-radius: 9px;
} */

/* -------------------Landing -------------------------- */

/* .hero-message{
   text-align: center;
   font-family: 'Alkatra', cursive;   
} */

/* ----------------------------------------------------- */


/* headings color */

/* .colored-heading{
    color: rgb(202, 101, 19);
    text-align: center;

}

#colored-heading{
    text-align: center;
    color: rgb(202, 101, 19);
}

#colored-heading{
    color:rgb(202, 101, 19) ;
    text-align: center;

} */
/* --------------landing styles-------------------------- */

/* 
.landing{
    padding: 20px;
    display: flex;
    justify-content: center;

}


.landingsection {
    background-color:#838e92;
    height: 400px;
}

.secondsection {
    background-color: rgb(162, 162, 199);
    height: 400px;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color:126, 183, 127;
    max-width: 80%;
    margin: auto;
    height: 80%;
}

.firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 70%;
    border: 4px solid rgb(160, 22, 22);
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 35px;
}

.text-small {
    font-size: 18px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid rgb(202, 101, 19);
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
} */
/* 
.section {
    /* background-color:#748c96; */
    /* height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 0 5%;
    margin: auto;
}

.section-Left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 65px;
}

.thumbnail img {
    width: 250px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 26px;
    margin-top: 19px;
}

.center {
    text-align: center;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.text-footer a:hover{
    text-decoration: none;
color: rgb(202, 101, 19);
}
.footer-link{
    color: rgb(60, 255, 1);
    text-decoration: none;
}


/* FAQS Styling */
/* 
.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}
.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}
@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}
.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}
.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}  */ 



