
body{
    padding: 200px;
}
h1{
    border-bottom:solid 1px;
    padding-left: 100px;
    padding-right: 100px;
}

.even-number-checker{
    background-color: cornflowerblue;
    padding: 50px 200px 50px 200px;
    display: flex;
    justify-content: center;
    
}

.heading{
    text-align: center;
}